
  .homemessage {
    margin-top: 4%;
    color: blue;
    font-family: 'Disco';
    text-shadow: 1px 1px 5px rgb(0, 110, 255)
  }
  
  .letters {
    font-size: 3.5vw;
  } 

  .monsterconcert {
    width: 70%;
    height: 40%;  }
