<div class="row finddesc d-flex justify-content-center">
    <div class="artist desccard col-12 col-lg-2 col-md-4">
      <img src="../../assets/img/Monster_music.svg" alt="Monster Artist">
      <div class="desctext">
        <h5>Find your artist</h5>
        <hr>
        <p>Use our searchbar to find your best artist, look at his description, list of concert..</p>
    </div>
    </div>
    <div class="concert desccard col-12 col-lg-2 col-md-4">
      <img src="../../assets/img/monster3.png" alt="Choral">
      <div class="desctext">
        <h5>Find your concert</h5>
        <hr>
        <p>You can also look for concert, festival for an artist or specific area</p>   
      </div>
    </div>
    <div class="location desccard col-12 col-lg-2 col-md-4">
      <img src="../../assets/img/monster22.png" alt="Headphones">
      <div class="desctext">
        <h5>Find event in area</h5>
        <hr>
        <p>You are in holliday on a town and actually searching for an event ? Use the searchbar !</p>
      </div>
    </div>
  </div>