<div class="container-fluid">

  <div class="col-md-6 col-12 desc">
    <app-cartemap *ngIf="affichage==true" [objetTest]="objetTest" [affichageTitrePourLocation]="affichageTitrePourLocation"></app-cartemap>
    <app-artistpage [affichage]="affichage" [artistName]="artistName"></app-artistpage>
    <br>
    <p *ngIf="affichage==false" class="text-center">No concert was found.</p>
  </div>
  
    <div class="">
      <select ngModel [(ngModel)]="event" (ngModelChange)="search($event)">
        <option class="option" value="anytime"><button></button>Anytime</option>
        <option class="option" value="today">Today</option>
        <option class="option" value="tomorrow">Tomorrow</option>
        <option class="option" value="thisWeek">This week</option>
        <option class="option" value="thisMonth">This Month</option>
        <option class="option" value="next3Months">Next 3 months</option>
      </select>
    </div>
    <div class="offset-md-6 col-md-6 col-12 event"> 
    <app-eventlist *ngIf="affichage==true" [objetTest]="objetTest"></app-eventlist>
    </div>
</div>
