<agm-marker [longitude]="index.venue.lng" [latitude]="index.venue.lat">
  <agm-info-window>
    <div class="window">{{index.performance[0].displayName}} will be in {{index.location.city}},  
      <a href="{{index.venue.uri}}">
        {{index.venue.displayName}}
      </a>
      , the {{index.start.date}} at {{index.start.time}}
      <a class="btn btn-info btn-outline-info btnmarker" role="button" href="{{ index.uri }}" target="_blank">
        <small>Details</small>
      </a>
    </div>
  </agm-info-window>
</agm-marker>