<agm-marker [longitude]="oneEvent.venue.lng" [latitude]="oneEvent.venue.lat">
  <agm-info-window [isOpen]="isOpenBoolean">
    <div class="window"><a routerLink="../../artistcontent/{{oneEvent.performance[0].artist.displayName}}">{{oneEvent.performance[0].displayName}}</a>
      will be in <a routerLink="../../locationcontent/{{oneEvent.venue.metroArea.id}}">{{oneEvent.location.city}}</a>,
      <br><a routerLink="../../venuescontent/{{ oneEvent.venue.id }}">
        {{oneEvent.venue.displayName}}</a>
      <span *ngIf="oneEvent.start.date">,<br>the {{oneEvent.start.date}}</span>
      <span *ngIf="oneEvent.start.time"> at {{oneEvent.start.time}}</span>
      <button class="btn btn-orange btnmarker" (click)="scrollToEvent()"><small>Show</small><img class="downing" placeholder="" src="../../assets/img/infowindowarrow.png"></button>
    </div>
  </agm-info-window>
</agm-marker>