<agm-marker [longitude]="oneEvent.venue.lng" [latitude]="oneEvent.venue.lat">
  <agm-info-window [isOpen]="isOpenBoolean">
    <div class="window"><a routerLink="../../artistcontent/{{oneEvent.performance[0].artist.displayName}}">{{oneEvent.performance[0].displayName}}</a> will be in <a routerLink="../../locationcontent/{{oneEvent.venue.metroArea.id}}">{{oneEvent.location.city}}</a>,  
      <a routerLink="../../venuescontent/{{ oneEvent.venue.id }}"> 
        {{oneEvent.venue.displayName}}
      </a>
      , the {{oneEvent.start.date}} at {{oneEvent.start.time}}
      <a class="btn btn-info btn-outline-info btnmarker" role="button" href="{{ oneEvent.uri }}">
        <small>Buy tickets</small>
      </a>
    </div>
  </agm-info-window>
</agm-marker>