<div class="content">
  <app-cartemap *ngIf="affichage==true" [objetTest]="objetTest" [affichageTitrePourLocation]="affichageTitrePourLocation"></app-cartemap>
  <br>
  <div class=" box container-4">
      <select ngModel [(ngModel)]="event" (ngModelChange)="search($event)">
          <option class="option" value="anytime"><button></button>Anytime</option>
          <option class="option" value="today">Today</option>
          <option class="option" value="tomorrow">Tomorrow</option>
          <option class="option" value="thisWeek">This week</option>
          <option class="option" value="thisMonth" >This Month</option>
          <option class="option" value="next3Months" >Next 3 months</option>
        </select>
  </div>
  <app-eventlist *ngIf="affichage==true" [objetTest]="objetTest"></app-eventlist>
  <p *ngIf="affichage==false" class="text-center">We didn't find any event in this city.</p>
</div>

