.content {
  color:#fff;
}
@media screen and (max-width: 768px) {
  .dropdown-toggle {
    -webkit-appearance: none;
    background: rgb(39, 39, 39) url("../../assets/img/drop-down-arrow.png") right 5% top 50% no-repeat;
  }
}
@media screen and (min-width: 769px){
  .dropdown-toggle {
    -webkit-appearance: none;
  background: #fff url("../../assets/img/drop-down-arrow.png") right 5% top 50% no-repeat;
  }
}
.buttonOption {
  color: #ff471a;
  width: 12vw;
  min-width: 180px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.event {
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
