.container{
	
  height: 48vh;
  margin-bottom: 4vh
}

li{
	display: inline;
}
#errorMessage{
	margin-top: 30px;
}
.similarLi {
  margin-right: 10px;
}
a{
  color :#ff471a;
}


.btn-danger {
  opacity: 1;
  background-color: #cc0505;
  margin-bottom: 8px;
}
.btn-success {
  opacity: 0.9;
  margin-bottom: 8px;
}

