@media screen and (max-width:768px){
  .logo{
    display:none;
  }
  .box{
    top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
  }
  .container-4 {
    width: 94%;
  }
}
@media screen and (min-width: 769px){
  .box{
    margin: 100px auto;
    width: 80%;
    max-width: 800px;
  }
  .container-4 {
    max-width: 800px;
    width: 80%;
  }
}

.select {
  border: none;
  height: 60px;
  width: 20%;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 15pt;
  background: #2b303b;
  color: #6b6b6b;
  text-align-last: center;

}
.option {
  text-align-last: center;
}
.logo{
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    width: 60px;
    position: top-left;
}
.content{
  z-index: 1;
}
.box{
    z-index: 3;
    height: 60px;
  }
  .container-4{
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
  }
  .container-4 input#search{
    width: 80%;
    height: 60px;
    background: #2b303b;
    border: none;
    font-size: 15pt;
    text-align:center;
    color: #fff;
    padding-left: 15px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;

    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .container-4 input#search::-webkit-input-placeholder {
    color: #6b6b6b;
 }

 .container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #6b6b6b;
 }

 .container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #6b6b6b;
 }

 .container-4 input#search:-ms-input-placeholder {
    color: #6b6b6b;
 }
 .container-4 button.icon{
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    border: none;
    background: #232833;
    height: 65px;
    width: 60px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -60px;
  }

  .container-4:hover button.icon:hover{
    background: white;
  }
