@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .box{
    top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
  }
  .container-4 {
    width: 94%;
  }
}
@media screen and (min-width: 769px) {
  .box {
    height: 100px;
    top: 0;
    background-color: rgb(53, 51, 51);
  }
  .searchbar {
    max-width: 800px;
    width: 80%;
  }
}

.select {
  border: 1px solid lightgrey;
  height: 60px;
  width: 20%;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 15pt;
  background: #fff;
  color: #6b6b6b;
  text-align-last: center;
}

.option {
  text-align-last: center;
}
.logo{
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    width: 60px;
    position: top-left;
}
.content {
  z-index: 1;
}
.box {
  margin-top: 6%;
  z-index: 3;
  position: sticky;
}

  .searchbar {
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
  }
  .searchbar input#search {
    width: 80%;
    height: 60px;
    background: #fff;
    color: #6b6b6b;
    border: 1px solid lightgrey;
    font-size: 15pt;
    text-align: center;
    padding-left: 15px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
  
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .searchbar input#search::-webkit-input-placeholder {
    color: #6b6b6b;
  }
  
  .searchbar input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #6b6b6b;
  }
  
  .searchbar input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #6b6b6b;
  }
  
  .searchbar input#search:-ms-input-placeholder {
    color: #6b6b6b;
  }
  
  .searchbar button.icon {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  
    border: 1px solid lightgrey;
    background: lightskyblue;
    height: 65px;
    width: 60px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
  
    -webkit-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    -ms-transition: all 0.55s ease;
    -o-transition: all 0.55s ease;
    transition: all 0.55s ease;
  }
  
  .searchbar:hover button.icon,
  .searchbar:active button.icon,
  .searchbar:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -60px;
  }
  
  .searchbar:hover button.icon:hover {
    background: white;
  }


.imghaut {
    width: 50px;
    height: 50px;
    top: 85%;
    left: 90%;
    position: fixed;
}