.list-group {
  max-width: 900px;
  width: 90%;
  margin: auto;
}



.my-pagination /deep/ .ngx-pagination .current {
  color:white;
  text-decoration: underline;
  border-radius: 100%;
  background-color:gray;
}

.my-pagination /deep/ .ngx-pagination {
  color: grey;
  padding-right: 50px;

  border-radius: 25px;
}

.nextvious {
  margin-top: 1.5%;
}
