
 <div class="carte"><!--affichage de la carte + positionnement du centre de la carte(à faire: un algo pour prendre moyenne pondérée des marqueurs)-->
<agm-map [latitude]="lat" [longitude]="lng">
  <!--affichage et positionnement de marqueurs. A boucler.-->
  <agm-marker [longitude]="lng" [latitude]="lat">
	  <agm-info-window>
	    <div class="window">
	      <h5>{{objetVenue.resultsPage.results.venue.displayName}}</h5> 
	      <p>Adress : {{objetVenue.resultsPage.results.venue.street}} {{objetVenue.resultsPage.results.venue.city.displayName}}
	      {{objetVenue.resultsPage.results.venue.zip}}
	      {{objetVenue.resultsPage.results.venue.city.country.displayName}}</p>
	      <p *ngIf="objetVenue.resultsPage.results.venue.phone != null && objetVenue.resultsPage.results.venue.phone != ''">Call : {{objetVenue.resultsPage.results.venue.phone}}</p>
	      <p *ngIf="objetVenue.resultsPage.results.venue.website != null && objetVenue.resultsPage.results.venue.website != ''">Website : <a target="_blank" href="{{objetVenue.resultsPage.results.venue.website}}">{{objetVenue.resultsPage.results.venue.website}}</a></p>
	    </div>
	  </agm-info-window>
</agm-marker>
</agm-map>
</div>
