<div class="content">
	<app-venue-page *ngIf="affichage==true" [objetVenue]="objetVenue" ></app-venue-page>
	<br>
	<app-cartemapvenue *ngIf="affichage==true" [objetVenue]="objetVenue"></app-cartemapvenue>
	<br>
	<div class=" box container-4">
      <select>
      	<option (click)="searchEventsOfVenue('anytime')" class="option" value="anytime" id="anytime" >Anytime</option>
        <option (click)="searchEventsOfVenue('today')" class="option" value="today" id="today" >Today</option>
        <option (click)="searchEventsOfVenue('tomorrow')" class="option" id="tomorrow">Tomorrow</option>
        <option (click)="searchEventsOfVenue('thisWeek')" class="option" id="thisWeek">This week</option>
        <option (click)="searchEventsOfVenue('thisMonth')" class="option" id="thisMonth" >This Month</option>
        <option (click)="searchEventsOfVenue('next3Months')" class="option" id="next3Months" >Next 3 months</option>
      </select>
  	</div>
  	<app-eventlist *ngIf="affichage2==true" [objetTest]="objetEventsOfVenue"></app-eventlist>
    <p *ngIf="affichage2==false" class="text-center">We didn't find any event in this place.</p>
</div>



