@media screen and (max-width: 910px) {
  .content {
  margin-right: 2%;
  margin-left: 2%;
  width: 96%;
  }
}

.buttonOption {
  background-color: rgb(39, 39, 39);
  color: #ff471a;
  width: 12vw;
  min-width: 180px;
}
.dropdown-toggle{
  -webkit-appearance: none;
  background: rgb(39, 39, 39) url("../../assets/img/drop-down-arrow.png") right 5% top 50% no-repeat;
}

img {
  width: 40px;
}
.box{
  text-align: center;
  margin-bottom: 10px;
}



.content {
  background-color: #fcfcfc;
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  margin-top:2%;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}