/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

@font-face {
  font-family: "Neonize";
  src: url(/assets/font/neonize.ttf);
 }
  
@font-face {
  font-family: "Disco";
  src: url(/assets/font/DiscoDiva.ttf);
}
  
@font-face {
  font-family: "Club";
  src: url(/assets/font/club.otf);
}
  
@font-face {
  font-family: "Club_bold";
  src: url(/assets/font/club_bold.otf);
}

body{
  background-image: Url(./assets/background/darkstage.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }