#moredetails {
  text-align: right;
}
.textsize {
  font-size: 1.3em;
}

.bord {
  border: none;
  height: 100%;
  width: 70vw;
}

.card-header {
  background-color: grey;
}

.card {
  margin: -10px;
}