<li class="list-group-item list-group-item-action flex-column textsize bord">

  <div class="d-flex w-100 justify-content-between">

    <h2><a href="{{ oneEvent.performance[0].artist.uri }}">{{ oneEvent.performance[0].artist.displayName }}</a></h2>
    <p>{{ oneEvent.type }} at {{ oneEvent.start.datetime | date:'shortTime'}}</p>
  </div>
  <p> {{ oneEvent.start.datetime | date:'fullDate' }} {{ oneEvent.start.date }}</p>
  <p> {{ oneEvent.start.date }}</p>


  <h5 class="mb-1">{{ oneEvent.displayName }}</h5>
  <p class="mt-3 mb-1"><a href="{{ oneEvent.venue.uri }}">{{ oneEvent.venue.displayName }}</a> à {{
    oneEvent.venue.metroArea.displayName }}</p>
  <div class="d-flex w-100 justify-content-end">
    <a class="btn btn-outline-info" role="button" id="moredetails" target="_blank" href="{{ oneEvent.uri }}"><small>Buy tickets</small></a>
  </div>
</li>
